@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.ActionLink("admDelregister", "Index", "admDelregisters")<br />
    @Html.ActionLink("admFAQ", "Index", "admFAQs")<br />
    @Html.ActionLink("admFAQKategori", "Index", "admFAQKategoris")<br />
    @Html.ActionLink("admForvantadfil", "Index", "admForvantadfils")<br />
    @Html.ActionLink("admForvantadleverans", "Index", "admForvantadleverans")<br />
    @Html.ActionLink("admInformation", "Index", "admInformations")<br />
    @Html.ActionLink("admKonfiguration", "Index", "admKonfigurations")<br />
    @Html.ActionLink("admRegister", "Index", "admRegisters")<br />
    @Html.ActionLink("admUppgiftsskyldighet", "Index", "admUppgiftsskyldighets")<br />
    @Html.ActionLink("Kontaktperson", "Index", "Kontaktpersons")<br />
    @Html.ActionLink("Organisation", "Index", "Organisations")<br />
    @Html.ActionLink("Organisationsenheter", "Index", "Organisationsenhets")<br />
</div>
