@model InrappAdminInterim.Models.admDelregister

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>admDelregister</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.delregisternamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delregisternamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.beskrivning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beskrivning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kortnamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kortnamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inrapporteringsportal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inrapporteringsportal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slussmapp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slussmapp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skapaddatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skapaddatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skapadav)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skapadav)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.andraddatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.andraddatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.andradav)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.andradav)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admRegister.registernamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admRegister.registernamn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.delregisterid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
