@model InrappAdminInterim.Models.admKonfiguration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>admKonfiguration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.varde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.varde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skapaddatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skapaddatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skapadav)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skapadav)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.andraddatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.andraddatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.andradav)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.andradav)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.konfigurationsid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
